In [1]:
pip install mysql-connect-python

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002549F965490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connect-python/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002549F959950>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connect-python/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002549F96E4D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connect-python/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002549F978050>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connect-python/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002549F97AC90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connect-python/
ERROR: Could not find a version that satisfies the requirement mysql-connect-python (from versions: none)
ERROR: No matching distribution found for mysql-connect-python

In [1]:
import mysql.connector as conn

In [2]:
mydb=conn.connect(host='localhost',user='root',passwd='vivek@6559')

In [3]:
mydb

In [4]:
cursor=mydb.cursor()

In [5]:
cursor

In [6]:
cursor.execute('show databases')

In [13]:
cursor.fetchall()

[('datacouncil10',),
 ('datacouncil100',),
 ('information_schema',),
 ('mauli',),
 ('mote10',),
 ('mysql',),
 ('performance_schema',),
 ('sample',),
 ('sample2',),
 ('sys',),
 ('vivekmote10',)]

In [15]:
cursor.execute('use mauli')

In [16]:
cursor.execute('show tables')

In [30]:
cursor.execute('create table mauli.customer1(s_id INT(10), firstname VARCHAR(30), lastname VARCHAR(30), reg_id INT(10), classname VARCHAR(30))')

ProgrammingError: 1050 (42S01): Table 'customer1' already exists

In [31]:
cursor.execute('insert into mauli.customer1 values(1111,"vivek","mote",1112,"data council")')

In [34]:
mydb.commit()

In [36]:
cursor.execute('select * from mauli.customer1')

In [37]:
cursor.fetchall()

[(1111, 'vivek', 'mote', 1112, 'data council')]

In [38]:
cursor.execute('insert into mauli.customer1 values(1111,"vivek","mote",1112,"data council")')

In [39]:
cursor.execute('insert into mauli.customer1 values(1111,"vivek","mote",1112,"data council")')

In [40]:
cursor.execute('insert into mauli.customer1 values(1111,"vivek","mote",1112,"data council")')

In [41]:
mydb.commit()

In [42]:
cursor.execute('select * from mauli.customer1')

In [43]:
cursor.fetchall()

[(1111, 'vivek', 'mote', 1112, 'data council'),
 (1111, 'vivek', 'mote', 1112, 'data council'),
 (1111, 'vivek', 'mote', 1112, 'data council'),
 (1111, 'vivek', 'mote', 1112, 'data council')]

In [44]:
cursor.execute('select firstname from customer1')

In [45]:
cursor.fetchall()

[('vivek',), ('vivek',), ('vivek',), ('vivek',)]

In [46]:
cursor.execute('alter table customer1 add phonenumber varchar(20)')

In [47]:
cursor.execute('show tables')

In [48]:
cursor.fetchall()

[('customer1',)]

In [52]:
cursor.execute('select* from mauli.customer1')

In [54]:
cursor.fetchall()

[(1111, 'vivek', 'mote', 1112, 'data council', None),
 (1111, 'vivek', 'mote', 1112, 'data council', None),
 (1111, 'vivek', 'mote', 1112, 'data council', None),
 (1111, 'vivek', 'mote', 1112, 'data council', None)]

In [60]:
cursor.execute('update customer1 set phonenumber=12345789 where s_id = 1111')

In [61]:
cursor.execute('select phonenumber from customer1')

In [62]:
cursor.fetchall()

[('12345789',), ('12345789',), ('12345789',), ('12345789',)]

In [63]:
cursor.execute('alter table customer1 drop column phonenumber')

In [65]:
cursor.execute('alter table customer1 drop column lastname')

In [67]:
cursor.execute('select * from customer1')

In [69]:
cursor.fetchall()

[(1111, 'vivek', 1112, 'data council'),
 (1111, 'vivek', 1112, 'data council'),
 (1111, 'vivek', 1112, 'data council'),
 (1111, 'vivek', 1112, 'data council')]

In [70]:
cursor.execute('delete from customer1 where s_id=1111')

In [71]:
cursor.execute('select*from customer1')

In [72]:
cursor.fetchall()

[]

In [73]:
cursor.execute('drop table customer1')

In [76]:
cursor.execute('show tables')

In [77]:
cursor.fetchall()

[]

In [79]:
cursor.execute('use mauli')

In [80]:
cursor.execute('show tables')

In [81]:
cursor.fetchall()

[]

In [8]:
cursor.execute('show databases')

InternalError: Unread result found

In [6]:
cursor.fetchall()

[('datacouncil10',),
 ('datacouncil100',),
 ('information_schema',),
 ('mauli',),
 ('mote10',),
 ('mysql',),
 ('performance_schema',),
 ('sample',),
 ('sample2',),
 ('sys',),
 ('vivekmote10',)]

In [7]:
cursor.execute('drop database mauli')

In [8]:
cursor.execute('show databases')

In [11]:
cursor.fetchall()

[('datacouncil10',),
 ('datacouncil100',),
 ('information_schema',),
 ('mote10',),
 ('mysql',),
 ('performance_schema',),
 ('sample',),
 ('sample2',),
 ('sys',),
 ('vivekmote10',)]

In [9]:
cursor.execute('use sample')

InternalError: Unread result found

In [10]:
cursor.execute('create database SaleOrder')

InternalError: Unread result found

In [11]:
cursor.execute('create table dbo.customer(CustomerID int(30),CustomerFirstName varchar(50),CustomerLastName varchar(50),CustomerAddress varchar(50),CustomerSuburb varchar(50),CustomerCity varchar(50),CustomerPostCode char(4),CustomerPhoneNumber char(12)')

InternalError: Unread result found