In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\new folder\python\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [154]:
import mysql.connector as conn

In [155]:
mydb=conn.connect(host='localhost',user=('root'),passwd=('vivek@6559'))

In [156]:
mydb

In [157]:
cursor=mydb.cursor()

In [158]:
cursor

In [159]:
cursor.execute('show databases')

In [160]:
cursor.fetchall()

[('datacouncil10',),
 ('datacouncil100',),
 ('information_schema',),
 ('mauli',),
 ('mote10',),
 ('mysql',),
 ('performance_schema',),
 ('saleorder',),
 ('sample',),
 ('sample2',),
 ('sys',),
 ('temp',),
 ('vivekmote10',)]

In [161]:
cursor.execute('use sample2')

In [162]:
cursor.execute('show tables')

In [11]:
cursor.fetchall()

[('customer',)]

In [164]:
cursor.execute('select* from customer')

InternalError: Unread result found

In [17]:
df=cursor.fetchall()

In [18]:
import pandas as pd

In [19]:
d=pd.DataFrame(df)

In [20]:
d

     0   1          2     3       4           5         6
0  100  10  Fang Ying  Sham  418999  sdadasfdfd  Malaysia
1  200   0    Mei Mei   Tan   71000  adssdsadsd  Thailand
2  300  20     Albert  John   71000    dfdsfsdf  Malaysia

In [29]:
cursor.execute('select lastname from customer order by lastname asc')

In [30]:
cursor.fetchall()

[('Albert',), ('Fang Ying',), ('Mei Mei',)]

In [92]:
cursor.execute('alter table customer add phonenumber varchar(20)')

In [93]:
cursor.execute('select * from customer')

In [94]:
cursor.fetchall()

[(100, 10, 'Fang Ying', 'Sham', 418999, 'sdadasfdfd', 'Malaysia', None, None),
 (200, 0, 'Mei Mei', 'Tan', 71000, 'adssdsadsd', 'Thailand', None, None),
 (300, 20, 'Albert', 'John', 71000, 'dfdsfsdf', 'Malaysia', None, None)]

In [122]:
cursor.execute('update customer set phonenumber="9860936700"where customerid=200')

In [123]:
cursor.execute('select phonenumber from customer')

In [124]:
cursor.fetchall()

[('9860936700',), ('9860936700',), (None,)]

In [130]:
cursor.execute('delete from customer where phonenumber="9860936700"')

In [133]:
cursor.execute('select * from customer')

In [134]:
g=cursor.fetchall()

In [135]:
v=pd.DataFrame(g)

In [136]:
v

     0   1       2     3      4         5         6     7     8
0  300  20  Albert  John  71000  dfdsfsdf  Malaysia  None  None

In [141]:
cursor.execute('alter table customer drop column phonenumber')

In [151]:
cursor.execute('select * from customer')

InternalError: Unread result found