1. What is python ?
ans : Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. It was originally released in 1991. used in  data science, data analysis, machine learning, data engineering, web development, software development, and other fields etc.

2. Data Types in python?
ans:int(),str(),float(),bool(),complex(),

3. How to comment single line ?
ans:useing # this symbol or hastag

4. Difference between list and tuple ?
ans:syntax of list is list[],ans syntax of tuple is a(),
list are mutable and tuple are inmutable
list has high storage acompare to tuple.

5. What is function in python ?
ans:A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

6. Data Types in python?
ans:int(),str(),float(),bool(),complex(),

7. What is local variable and global variables in python ?
ans: Global variables are declared outside the functions whereas local variables are declared within the functions.
Local variables are created when the function starts its execution and are lost when the function ends

8. Write a Python program to:
Prompt the user to enter an integer.
a=int(input('entre your number'))

Prompt the user to enter a floating-point number.
a=float(input('entre your float value'))

Prompt the user to enter a string.
a=input('entre your string value'))

Display the type of each input.
type(a)

In [49]:
#9. Write a Python program to print all the even numbers from 1 to 20 using a for loop. If a number
#is divisible by 4, print "Divisible by 4" instead of the number.
for i in range(1,21):
    if i % 2 ==0:
        if i % 4==0:
            print("Divisible by 4")
        else:
            print(i)

2
Divisible by 4
6
Divisible by 4
10
Divisible by 4
14
Divisible by 4
18
Divisible by 4

10. Write a Python program to find the sum of all numbers between 1 and 100 that are divisible by
3 Use a while loop.

In [1]:
num = 1
sum = 0
while num <=100:
    if num % 3==0:
        sum += num
    num += 1
print('sum of numbers betwwen 1 to 100 that div by 3:',sum)

sum of numbers betwwen 1 to 100 that div by 3: 1683

11. Write a function in Python that takes two parameters, 'a' and 'b', and returns their sum and
product.

In [10]:
def test(a,b):
    return(a+b),(a*b)

In [11]:
test(2,3)

(5, 6)

12. Write a Python program that initializes a list of numbers and then:
Prints the sum of all the numbers in the list.
Prints the largest and smallest numbers in the list.
Prints the list in reverse order.

In [15]:
a=[1,2,3,4,5]
sum(a)

15

In [18]:
max(a)

5

In [19]:
min(a)

1

In [21]:
a.reverse()

In [22]:
a

[5, 4, 3, 2, 1]

13. Create a dictionary in Python that represents a student's grades in different subjects. The keys
should be subject names, and the values should be the corresponding grades. Write a function
that calculates and returns the average grade.

In [18]:
student_grades={'marathi':'60','hindi':'70','english':'90','math':'99'}

In [4]:
def avarage_grade(grades):
    total=0
    for subject,grade in grades.items():
        total+=grade
        avg= total%len(grade)
        return average_grade

In [5]:
def calculate_average_grade(grades):
    total_grades = 0
    num_subjects = len(grades)

    for subject, grade in grades.items():
        total_grades += grade

    average_grade = total_grades / num_subjects
    return average_grade

# Example student grades
student_grades = {
    'Math': 85,
    'Science': 90,
    'English': 78,
    'History': 88
}

# Calculate and print the average grade
average_grade = calculate_average_grade(student_grades)
print(f"The average grade is: {average_grade}")

The average grade is: 85.25

14. Write a Python program that takes two sets and prints the union, intersection, and difference of
these sets.

In [27]:
a={1,2,3,4,5}
b={3,4,5,6}

In [28]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [29]:
a.intersection(b)

{3, 4, 5}

In [30]:
a.difference(b)

{1, 2}

15. Create of Generator function of Generating Cubes.

In [56]:
def gencube(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    return l

In [57]:
gencube(5)

[0, 1, 8, 27, 64]

16. Int object is iterable?
ans: int obj is not iterable
17. String object is Iterator?
ans: yes string obj is itreable

18. From the above names you have to Separate Letters and you have to append that letters in one
empty list. Name_list = [“Sachin”,”Rohit”,”Dhoni”,]

In [40]:
Name_list = ['Sachin','Rohit','Dhoni']
for i in Name_list:
    l=[]
    for j in i:
        print(j)
        l.append(j)

S
a
c
h
i
n
R
o
h
i
t
D
h
o
n
i

19. You have to replace/Change value 10.5 with 1000. b = [1,2,['Name',10.5,True],12,3,5]

In [12]:
b = [1,2,['Name',10.5,True],12,3,5]
b[-4][-2]=100

In [13]:
b

[1, 2, ['Name', 100, True], 12, 3, 5]

20. You have to take input for course names from PYTHON and JAVA.
You have to take one more input for Discount, in which if coupon code is NEW2024 then you
have to give discount of 1000, and if coupon code is FEB2024 you have to give discount of 500r.
Write code for it.

In [1]:
course=input()
couponcode=input()

if course == 'python':
    if couponcode=='NEW2024':
        print('discount is 1000rs')
    elif couponcode=='FEB2024':
         print('discont is 500rs')
            
    else:
        print('no discount for python')
elif course=='java':
    if couponcode=='NEW2024':
        print('discount is 1000rs')
    elif cuoponcode=='FEB2024':
        print('discount is 500rs')
    else:
        print('no discount for java')
else:
    print('select valid coupon')

python
NEW2024
discount is 1000rs

In [3]:
course=input()
discount=input()
if course=='python':
    if discount=='1000':
        print('coupon code is :','NEW2024')
    elif discount=='500':
        print('coupon code is:','FEB2024')
    else:
        print('select valid discount')
elif course =='java':
    if discount=='1000':
        print('coupon code is:','NEW2024')
    elif discount=='500':
        print('coupon code is:','FEB2024')
    else:
        print('select valid discount')
else:
    print('apply valid course')

python
500
coupon code is: FEB2024